@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mt-5 container1">
    <div class="col-sm-8 mt-4">
        <h1>Pedro Alberto Baños Folcrá</h1>
        <h3 class="mt-3">Junior Full-Stack Developer & Industrial Engineer- JavaScript(ES6), MongoDB, Express, React, NodeJs, HTML, CSS, GitHub</h3>
        <br />
    </div>
    <div class="col-sm-4">
        <img id="foto" src="~/Images/profile pic.jpg" alt="Foto de Pedro" />
    </div>
    <p class="mt-5">
        I am a dedicated, hardworking and proactive Full Stack developer.
        Counting on more than six years leading an Auto Seller(a family brand), which gave me a strong capability of being resolutive due to the fact that I have to face in daily issues and reach the best solutions for the concern's company.
        I decided to switch my career path as I wanted to improve myself.<br />
        Getting away from my inner-circle and facing real challenges together with Technology gave me the key and also fulfill all my expectations.
        For all that reasons Technology became my passion. <br />
        Thus, I joined at Ironhack's Bootcamp in where We studied from scratch the fundamentals of programing as well as the current, trendy and useful Technologies such as JavaScript(ES6), MongoDB, Express, React, NodeJs, HTML, CSS, GitHub, Git, Responsive Design, Bootstrap, Bulma, etc.
        They also taught me, what is more important, in my humble opinion, how to do pair-programing and code/work in a team environment.
        Thanks to my analytic profile which I built up when I studied Industrial engineering, I felt really confortable and that helped me within this 24 intensive weeks of bootcamp to achieve my goal of being Front-Backend developer. <br />
        Currently I am looking forward to having my first job opportunity as a Junior Full Stack developer and apply what I have highly-motivated learned.
    </p>
</div>