@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row justify-content-center text-start mt-5 mb-5">
    <div class="col col-3 bg-white habilities" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
        <h3>Back-end</h3>
        <p class="text-primary headerIndex">
            Stack:
        </p>
        <p>
            ASP.NET Core, SQL Server, Firebase, NodeJS, Express, MongoDB
        </p>
        <p class="text-primary headerIndex">
            Experience:
        </p>
        <ul>
            <li>Web API's'</li>
            <li>CRUD in non-relational DB (MongoDB, Firebase)</li>
            <li>CRUD in relational DB (SQL Server)</li>
            <li>Deploys</li>
        </ul>
    </div>
    <div class="col col-3 bg-white habilities" style="border-radius: 0 15px 15px 0 ; box-shadow: 0 5px 5px 0 gray;">
        <h3>Front-end</h3>
        <p class="text-primary headerIndex">
            Stack:
        </p>
        <p>
            React, Razor, Bootstrap
        </p>
        <br />
        <p class="text-primary headerIndex">
            Experience:
        </p>
        <ul>
            <li>React Hooks</li>
            <li>NextJS</li>
            <li>Bootstrap 5.0</li>
            <li>Razor</li>
            <li>jQuery</li>
        </ul>
    </div>
</div>